version: "3.9"
services:
  backend:
    image: ${DOCKER_HUB_USER}/products-backend:latest
    container_name: backend
    ports:
      - "8080:8080"
    environment:
      - DB_URL=${DB_URL}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
    restart: always

  frontend:
    image: ${DOCKER_HUB_USER}/products-frontend:latest
    container_name: frontend
    ports:
      - "3000:3000"
    restart: always